:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #01101d;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
/* 
 mainbg color => #101113
 second bg color => #282f41
button bg - color =>#0cb387 
bg blue => #4F46E5

*/
.bg-\[\#24272C\]{
  background-color: #282f41;
}

@layer components {
  .nav-link {
    @apply flex items-center w-full px-4 py-2.5 rounded-lg text-gray-400 transition-colors duration-200 hover:bg-[#1f2024] hover:text-gray-200;
  }
  .nav-link.active {
    @apply bg-[#2D2E35] text-white;
  }
  .nav-link span {
    @apply ml-3;
  }
}